In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
data_HAM10000 = pd.read_csv('D:/AI_CAPSTONE/skin_lesion/Dataset/HAM10000/HAM10000_metadata.csv')
data_DERNMET = pd.read_csv('D:/AI_CAPSTONE/skin_lesion/Dataset/Dermnet/Dermnet_metadata.csv')
data_PAD = pd.read_csv('D:/AI_CAPSTONE/skin_lesion/Dataset/PAD-UFES-20/PAD-UFES-20_metadata.csv')

In [4]:
data_HAM10000.head()

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear

In [5]:
data_DERNMET.head()

         lesion_id                image_id     dx
0  Dermnet_0016195  Acne and Rosacea_00001  acros
1  Dermnet_0014376  Acne and Rosacea_00002  acros
2  Dermnet_0013733  Acne and Rosacea_00003  acros
3  Dermnet_0007587  Acne and Rosacea_00004  acros
4  Dermnet_0005570  Acne and Rosacea_00005  acros

In [6]:
data_PAD.head()

       lesion_id           image_id      dx  age     sex localization
0  PAT_1516_1765  PAT_1516_1765_530     nev    8     NaN          ARM
1  PAT_1989_4061  PAT_1989_4061_934  akiec    75     NaN         HAND
2  PAT_1549_1882  PAT_1549_1882_230     sek   53     NaN        CHEST
3  PAT_1995_4080  PAT_1995_4080_695  akiec    68     NaN      FOREARM
4   PAT_705_4015   PAT_705_4015_413  akiec    58  FEMALE      FOREARM

In [7]:
dataset = pd.concat([data_HAM10000, data_DERNMET, data_PAD])
dataset.reset_index(drop=True)

,lesion_id,image_id,dx,dx_type,age,sex,localization
0,HAM_0000118,ISIC_0027419,bkl,histo,80.0,male,scalp
1,HAM_0000118,ISIC_0025030,bkl,histo,80.0,male,scalp
2,HAM_0002730,ISIC_0026769,bkl,histo,80.0,male,scalp
3,HAM_0002730,ISIC_0025661,bkl,histo,80.0,male,scalp
4,HAM_0001466,ISIC_0031633,bkl,histo,75.0,male,ear
...,...,...,...,...,...,...,...
30698,PAT_386_785,PAT_386_785_536,akiec,NaN,66.0,MALE,EAR
30699,PAT_273_421,PAT_273_421_905,bcc,NaN,41.0,MALE,FACE
30700,PAT_491_934,PAT_491_934_46,scc,NaN,43.0,FEMALE,FACE
30701,PAT_1708_3156,PAT_1708_3156_175,akiec,NaN,73.0,NaN,HAND
30702,PAT_1714_3189,PAT_1714_3189_989,sek,NaN,41.0,NaN,THIGH

In [9]:
import os

# Directory path where you want to check image files
directory = 'D:/AI_CAPSTONE/skin_lesion/Dataset/Data_images'

# List all files in the directory
files = os.listdir(directory)

# Filter files that end with "jpg"
jpg_files = [file for file in files if file.lower().endswith('.png')]

# Print the list of JPG files
for jpg_file in jpg_files:
    print(jpg_file)

In [13]:
# dataset.to_csv("Dataset_model.csv")