In [2]:
import pandas as pd
import numpy as np
import os

In [5]:
data_pd = pd.read_csv('D:/AI_CAPSTONE/skin_lesion/Dataset/PAD-UFES-20/PAD-UFES-20_metadata.csv')
data_pd.head()

,patient_id,lesion_id,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,...,diagnostic,itch,grew,hurt,changed,bleed,elevation,img_id,biopsed,is_duplicate
0,PAT_1516,1765,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,...,nev,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1516_1765_530.png,False,no
1,PAT_1989,4061,NaN,NaN,NaN,NaN,75,NaN,NaN,NaN,...,akiec,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1989_4061_934.png,False,no
2,PAT_1549,1882,NaN,NaN,NaN,NaN,53,NaN,NaN,NaN,...,sek,TRUE,FALSE,FALSE,FALSE,FALSE,TRUE,PAT_1549_1882_230.png,False,no
3,PAT_1995,4080,NaN,NaN,NaN,NaN,68,NaN,NaN,NaN,...,akiec,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE,PAT_1995_4080_695.png,False,no
4,PAT_705,4015,False,True,GERMANY,GERMANY,58,True,FEMALE,True,...,akiec,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,PAT_705_4015_413.png,False,no

In [6]:
df_count = data_pd.groupby('lesion_id').count()
df_count.head()

,patient_id,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,cancer_history,...,diagnostic,itch,grew,hurt,changed,bleed,elevation,img_id,biopsed,is_duplicate
lesion_id,,,,,,,,,,,,,,,,,,,,,
14,1,0,0,0,0,1,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
15,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
18,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
21,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
22,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [7]:
df_count = df_count[df_count['diagnostic'] == 1]
df_count.reset_index(inplace=True)

In [8]:
def duplicates(x):
    unique = set(df_count['lesion_id'])
    if x in unique:
        return 'no' 
    else:
        return 'duplicates'

In [9]:
data_pd['is_duplicate'] = data_pd['lesion_id'].apply(duplicates)
data_pd.head()

,patient_id,lesion_id,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,...,diagnostic,itch,grew,hurt,changed,bleed,elevation,img_id,biopsed,is_duplicate
0,PAT_1516,1765,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,...,nev,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1516_1765_530.png,False,no
1,PAT_1989,4061,NaN,NaN,NaN,NaN,75,NaN,NaN,NaN,...,akiec,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1989_4061_934.png,False,no
2,PAT_1549,1882,NaN,NaN,NaN,NaN,53,NaN,NaN,NaN,...,sek,TRUE,FALSE,FALSE,FALSE,FALSE,TRUE,PAT_1549_1882_230.png,False,no
3,PAT_1995,4080,NaN,NaN,NaN,NaN,68,NaN,NaN,NaN,...,akiec,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE,PAT_1995_4080_695.png,False,no
4,PAT_705,4015,False,True,GERMANY,GERMANY,58,True,FEMALE,True,...,akiec,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,PAT_705_4015_413.png,False,no

In [10]:
df_count = data_pd[data_pd['is_duplicate'] == 'no']

In [19]:
df_count.head()

,patient_id,lesion_id,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,...,diagnostic,itch,grew,hurt,changed,bleed,elevation,img_id,biopsed,is_duplicate
0,PAT_1516,1765,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,...,nev,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1516_1765_530.png,False,no
1,PAT_1989,4061,NaN,NaN,NaN,NaN,75,NaN,NaN,NaN,...,akiec,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1989_4061_934.png,False,no
2,PAT_1549,1882,NaN,NaN,NaN,NaN,53,NaN,NaN,NaN,...,sek,TRUE,FALSE,FALSE,FALSE,FALSE,TRUE,PAT_1549_1882_230.png,False,no
3,PAT_1995,4080,NaN,NaN,NaN,NaN,68,NaN,NaN,NaN,...,akiec,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE,PAT_1995_4080_695.png,False,no
4,PAT_705,4015,False,True,GERMANY,GERMANY,58,True,FEMALE,True,...,akiec,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,PAT_705_4015_413.png,False,no

In [22]:
def splt(x):
    x.strip().split('.png')
    return x

In [23]:
apply = df_count['img_id']
new_img_id = apply.apply(splt)
df_count['img_id'] = new_img_id

In [24]:
df_count

,patient_id,lesion_id,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,...,diagnostic,itch,grew,hurt,changed,bleed,elevation,img_id,biopsed,is_duplicate
0,PAT_1516,1765,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,...,nev,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1516_1765_530.png,False,no
1,PAT_1989,4061,NaN,NaN,NaN,NaN,75,NaN,NaN,NaN,...,akiec,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1989_4061_934.png,False,no
2,PAT_1549,1882,NaN,NaN,NaN,NaN,53,NaN,NaN,NaN,...,sek,TRUE,FALSE,FALSE,FALSE,FALSE,TRUE,PAT_1549_1882_230.png,False,no
3,PAT_1995,4080,NaN,NaN,NaN,NaN,68,NaN,NaN,NaN,...,akiec,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE,PAT_1995_4080_695.png,False,no
4,PAT_705,4015,False,True,GERMANY,GERMANY,58,True,FEMALE,True,...,akiec,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,PAT_705_4015_413.png,False,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1124,PAT_386,785,True,False,POMERANIA,POMERANIA,66,False,MALE,True,...,akiec,TRUE,FALSE,TRUE,FALSE,TRUE,TRUE,PAT_386_785_536.png,True,no
1125,PAT_273,421,False,False,POMERANIA,POMERANIA,41,True,MALE,False,...,bcc,TRUE,UNK,TRUE,UNK,TRUE,TRUE,PAT_273_421_905.png,True,no
1126,PAT_491,934,False,False,POMERANIA,POMERANIA,43,True,FEMALE,True,...,scc,TRUE,UNK,FALSE,UNK,TRUE,TRUE,PAT_491_934_46.png,True,no
1127,PAT_1708,3156,NaN,NaN,NaN,NaN,73,NaN,NaN,NaN,...,akiec,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1708_3156_175.png,False,no
1128,PAT_1714,3189,NaN,NaN,NaN,NaN,41,NaN,NaN,NaN,...,sek,FALSE,TRUE,FALSE,FALSE,FALSE,TRUE,PAT_1714_3189_989.png,False,no

In [12]:
# df_count.to_csv("PAD-UFES-20_metadata.csv")